
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<!-- The above 3 meta tags *must* come first in the head -->
		<title>Unity says: Hello world!</title>

		<!-- IMPORTANT!
		     In the two tags below, update /path/to/unity-1.4.0
		     to match the location of your Unity files
		-->
		<link href="/path/to/unity-1.4.0/css/em-unity-1.4.0.min.css" media="all" rel="stylesheet" />
		<script type="text/javascript" src="/path/to/unity-1.4.0/js/vendor/svg4everybody.min.js"></script><!-- polyfill for SVG icons -->

	</head>
	<body>
		<h1>Hello, XOM world!</h1>

		<!-- Add unity JavaScript to bottom of body -->
		<!-- IMPORTANT!
		     In the two tags below, update /path/to/unity-1.4.0
		     to match the location of your Unity files
		-->
		<script type="text/javascript" src="/path/to/unity-1.4.0/js/em-unity-1.4.0.min.js"></script>
	</body>
</html>
